# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Vite dependency pre-bundle cache
frontend/.vite/
frontend/.vite/*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Frontend ###
**/node_modules/
frontend/dist/
frontend/.vite/

### VS Code ###
.vscode/
.claude/
.vscode/
backend/.claude/
backend/.idea/
backend/HELP.md
backend/target/

.env
backend/.env
backend/uploads/cv-service/app/**/__pycache__/
cv-service/**/*.pyc
